
SketchGame/SketchGame/Resources/.DS_Store

SketchGame/SketchGame/.DS_Store

SketchGame/SketchGame/.DS_Store


# ignore - vs 2012
*.sdf
*.pdb
*.ilk
*.user
*.tlog
*.obj
*.idb
*.zip

# ignore - Mac settings
*.DS_Store
SketchGame/SketchGame/.DS_Store

SketchGame/SketchGame/.metadata/.plugins/org.eclipse.core.resources/.history/e5/00c93c5664f700111f448cd34390bba2

*.33

*.33
