<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>hero_run_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>hero_run_2.png</key>
		<dict>
			<key>x</key>
			<integer>26</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>hero_run_3.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>hero_run_4.png</key>
		<dict>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
	</dict>
</dict>
</plist>