<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>obj_stone_1.png</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>11</integer>
		</dict>
		<key>obj_stone_2.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>obj_stone_3.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>obj_stone_4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>obj_stone_5.png</key>
		<dict>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>obj_stone_6.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>obj_stone_7.png</key>
		<dict>
			<key>x</key>
			<integer>340</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>obj_stone_8.png</key>
		<dict>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>obj_stone_9.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>obj_stone_10.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>obj_stone_11.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>obj_stone_12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>55</integer>
		</dict>
		<key>obj_stone_13.png</key>
		<dict>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>obj_stone_14.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>obj_stone_15.png</key>
		<dict>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>obj_stone_16.png</key>
		<dict>
			<key>x</key>
			<integer>189</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>obj_stone_17.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>obj_stone_18.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>originalHeight</key>
			<integer>96</integer>
		</dict>
	</dict>
</dict>
</plist>