<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn_pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{466, 933}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_pause_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{182, 971}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 34}</string>
			<key>spriteSourceSize</key>
			<string>{77, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{152, 58}, {77, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_menu_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 34}</string>
			<key>spriteSourceSize</key>
			<string>{77, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{304, 426}, {77, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 34}</string>
			<key>spriteSourceSize</key>
			<string>{90, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 971}, {90, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_resume_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 34}</string>
			<key>spriteSourceSize</key>
			<string>{90, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{91, 971}, {90, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {219, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{219, 139}</string>
			<key>spriteSourceSize</key>
			<string>{219, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{152, 169}, {219, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 913}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 938}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 855}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 681}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 565}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{304, 368}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{152, 478}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 623}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 797}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 57}</string>
			<key>spriteSourceSize</key>
			<string>{232, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 739}, {232, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_bottle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 338}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {53, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 58}</string>
			<key>spriteSourceSize</key>
			<string>{53, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{304, 309}, {53, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {59, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 72}</string>
			<key>spriteSourceSize</key>
			<string>{65, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{152, 93}, {65, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 58}</string>
			<key>spriteSourceSize</key>
			<string>{113, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{800, 845}, {113, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{123, 63}</string>
			<key>spriteSourceSize</key>
			<string>{123, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 874}, {123, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 152}</string>
			<key>spriteSourceSize</key>
			<string>{110, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 845}, {110, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 42}, {79, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 507}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 97}, {73, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 169}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 126}, {77, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 676}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 146}, {75, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 0}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{676, 169}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 227}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{385, 764}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 0}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{385, 0}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 0}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 169}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 338}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{385, 426}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 58}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{152, 309}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{841, 0}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 845}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 507}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{385, 595}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 396}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 169}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 705}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 536}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {143, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 168}</string>
			<key>spriteSourceSize</key>
			<string>{151, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 676}, {151, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>game_etc</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>2차그림수정본스프라이트시트</string>
			<key>textureFileName</key>
			<string>game_etc</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>game_etc</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>