<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>opening_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 20}, {113, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 198}, {97, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 191}, {97, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 188}, {97, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 16}, {101, 288}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 11}, {101, 292}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{448, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 1}, {99, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 0}, {129, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{448, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 0}, {133, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 0}, {151, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{448, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 191}, {97, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 188}, {97, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>opening</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>2차그림수정본스프라이트시트</string>
			<key>textureFileName</key>
			<string>opening</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>opening</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>