<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_attack_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 58}</string>
			<key>spriteSourceSize</key>
			<string>{77, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{87, 115}, {77, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attack_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 56}</string>
			<key>spriteSourceSize</key>
			<string>{60, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{522, 115}, {60, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attack_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {59, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 67}</string>
			<key>spriteSourceSize</key>
			<string>{59, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 115}, {59, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attack_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 57}</string>
			<key>spriteSourceSize</key>
			<string>{59, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 115}, {59, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {29, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 28}</string>
			<key>spriteSourceSize</key>
			<string>{29, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 84}, {29, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 25}</string>
			<key>spriteSourceSize</key>
			<string>{29, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{484, 87}, {29, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 29}</string>
			<key>spriteSourceSize</key>
			<string>{43, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{705, 84}, {43, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 33}</string>
			<key>spriteSourceSize</key>
			<string>{40, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{984, 0}, {40, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 40}</string>
			<key>spriteSourceSize</key>
			<string>{48, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{819, 115}, {48, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 115}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 45}</string>
			<key>spriteSourceSize</key>
			<string>{54, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{895, 66}, {54, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 52}</string>
			<key>spriteSourceSize</key>
			<string>{71, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{241, 115}, {71, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 57}</string>
			<key>spriteSourceSize</key>
			<string>{59, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{645, 115}, {59, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 59}</string>
			<key>spriteSourceSize</key>
			<string>{62, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{458, 115}, {62, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 60}</string>
			<key>spriteSourceSize</key>
			<string>{71, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 115}, {71, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 64}</string>
			<key>spriteSourceSize</key>
			<string>{87, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{895, 0}, {87, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{69, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{387, 115}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 70}</string>
			<key>spriteSourceSize</key>
			<string>{73, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 115}, {73, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 75}</string>
			<key>spriteSourceSize</key>
			<string>{85, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 115}, {85, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{90, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{803, 0}, {90, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{705, 0}, {96, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 85}</string>
			<key>spriteSourceSize</key>
			<string>{114, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{484, 0}, {114, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 87}</string>
			<key>spriteSourceSize</key>
			<string>{103, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{600, 0}, {103, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 95}</string>
			<key>spriteSourceSize</key>
			<string>{129, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {129, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 100}</string>
			<key>spriteSourceSize</key>
			<string>{116, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{131, 0}, {116, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {113, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 113}</string>
			<key>spriteSourceSize</key>
			<string>{115, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 0}, {115, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_walk_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 108}</string>
			<key>spriteSourceSize</key>
			<string>{116, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 0}, {116, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 256}</string>
		<key>name</key>
		<string>spider</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>spider</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>spider</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>