<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ball_attack_down_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 68}</string>
			<key>spriteSourceSize</key>
			<string>{84, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {84, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_down_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {78, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 89}</string>
			<key>spriteSourceSize</key>
			<string>{104, 89}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 0}, {104, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_down_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 40}, {63, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 124}</string>
			<key>spriteSourceSize</key>
			<string>{77, 124}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 0}, {77, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_down_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 28}, {66, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 119}</string>
			<key>spriteSourceSize</key>
			<string>{92, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{268, 0}, {92, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_down_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {47, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 71}</string>
			<key>spriteSourceSize</key>
			<string>{49, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{361, 0}, {49, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 69}</string>
			<key>spriteSourceSize</key>
			<string>{43, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 0}, {43, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 67}</string>
			<key>spriteSourceSize</key>
			<string>{106, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{455, 0}, {106, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 133}</string>
			<key>spriteSourceSize</key>
			<string>{68, 133}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 0}, {68, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {57, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 115}</string>
			<key>spriteSourceSize</key>
			<string>{77, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{631, 0}, {77, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 68}</string>
			<key>spriteSourceSize</key>
			<string>{113, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{709, 0}, {113, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{823, 0}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_left_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {46, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 70}</string>
			<key>spriteSourceSize</key>
			<string>{52, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{876, 0}, {52, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {41, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 69}</string>
			<key>spriteSourceSize</key>
			<string>{43, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{929, 0}, {43, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {74, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 67}</string>
			<key>spriteSourceSize</key>
			<string>{106, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 134}, {106, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {54, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 133}</string>
			<key>spriteSourceSize</key>
			<string>{68, 133}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 134}, {68, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 115}</string>
			<key>spriteSourceSize</key>
			<string>{77, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 134}, {77, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 0}, {79, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 68}</string>
			<key>spriteSourceSize</key>
			<string>{113, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 134}, {113, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {48, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 134}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_right_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {46, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 70}</string>
			<key>spriteSourceSize</key>
			<string>{52, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{421, 134}, {52, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_up_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {42, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 66}</string>
			<key>spriteSourceSize</key>
			<string>{44, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 134}, {44, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_up_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 70}</string>
			<key>spriteSourceSize</key>
			<string>{47, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{519, 134}, {47, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_up_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 145}</string>
			<key>spriteSourceSize</key>
			<string>{46, 145}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{567, 134}, {46, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_up_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 72}</string>
			<key>spriteSourceSize</key>
			<string>{45, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{614, 134}, {45, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_attack_up_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {48, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 86}</string>
			<key>spriteSourceSize</key>
			<string>{52, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{660, 134}, {52, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_defend_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 73}</string>
			<key>spriteSourceSize</key>
			<string>{55, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{713, 134}, {55, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_defend_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 66}</string>
			<key>spriteSourceSize</key>
			<string>{61, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{769, 134}, {61, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_defend_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 73}</string>
			<key>spriteSourceSize</key>
			<string>{43, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{831, 134}, {43, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 73}</string>
			<key>spriteSourceSize</key>
			<string>{45, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{875, 134}, {45, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 73}</string>
			<key>spriteSourceSize</key>
			<string>{45, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{921, 134}, {45, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 73}</string>
			<key>spriteSourceSize</key>
			<string>{45, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{967, 134}, {45, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 73}</string>
			<key>spriteSourceSize</key>
			<string>{45, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 280}, {45, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 62}</string>
			<key>spriteSourceSize</key>
			<string>{45, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 280}, {45, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 56}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{92, 280}, {53, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 53}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 280}, {53, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_die_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 53}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 280}, {53, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_wait_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {47, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{47, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 280}, {47, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_wait_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {47, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{47, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{302, 280}, {47, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_wait_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{47, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{350, 280}, {47, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 0}, {17, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 24}</string>
			<key>spriteSourceSize</key>
			<string>{63, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 280}, {63, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 0}, {51, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 66}</string>
			<key>spriteSourceSize</key>
			<string>{87, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 280}, {87, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {43, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 103}</string>
			<key>spriteSourceSize</key>
			<string>{47, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 280}, {47, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 73}</string>
			<key>spriteSourceSize</key>
			<string>{45, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{598, 280}, {45, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {75, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 67}</string>
			<key>spriteSourceSize</key>
			<string>{83, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 280}, {83, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 169}</string>
			<key>spriteSourceSize</key>
			<string>{84, 169}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{728, 280}, {84, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 208}</string>
			<key>spriteSourceSize</key>
			<string>{144, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{813, 280}, {144, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 489}, {160, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 77}</string>
			<key>spriteSourceSize</key>
			<string>{190, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{161, 489}, {190, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{138, 186}</string>
			<key>spriteSourceSize</key>
			<string>{138, 186}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 489}, {138, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 0}, {110, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 241}</string>
			<key>spriteSourceSize</key>
			<string>{178, 241}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{491, 489}, {178, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 6}, {27, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 24}</string>
			<key>spriteSourceSize</key>
			<string>{75, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{670, 489}, {75, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{152, 0}, {84, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{236, 187}</string>
			<key>spriteSourceSize</key>
			<string>{236, 187}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{746, 489}, {236, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{170, 0}, {116, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{286, 93}</string>
			<key>spriteSourceSize</key>
			<string>{286, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 731}, {286, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 0}, {101, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{199, 205}</string>
			<key>spriteSourceSize</key>
			<string>{199, 205}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 731}, {199, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {124, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 245}</string>
			<key>spriteSourceSize</key>
			<string>{152, 245}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{487, 731}, {152, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 0}, {18, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 41}</string>
			<key>spriteSourceSize</key>
			<string>{60, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 731}, {60, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {17, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 53}</string>
			<key>spriteSourceSize</key>
			<string>{47, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{701, 731}, {47, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {24, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 66}</string>
			<key>spriteSourceSize</key>
			<string>{46, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{749, 731}, {46, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {21, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 55}</string>
			<key>spriteSourceSize</key>
			<string>{31, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{796, 731}, {31, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {28, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 45}</string>
			<key>spriteSourceSize</key>
			<string>{38, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 731}, {38, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 0}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 78}</string>
			<key>spriteSourceSize</key>
			<string>{68, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{867, 731}, {68, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball_walk_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 6}, {41, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 46}</string>
			<key>spriteSourceSize</key>
			<string>{131, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 977}, {131, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>ball</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>2차그림수정본스프라이트시트</string>
			<key>textureFileName</key>
			<string>ball</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>ball</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>