<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bat_attack_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 260}, {131, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{157, 82}</string>
			<key>spriteSourceSize</key>
			<string>{157, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 547}, {157, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 78}</string>
			<key>spriteSourceSize</key>
			<string>{155, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 547}, {155, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {155, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 73}</string>
			<key>spriteSourceSize</key>
			<string>{159, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{321, 709}, {159, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 76}</string>
			<key>spriteSourceSize</key>
			<string>{156, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{846, 547}, {156, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 82}</string>
			<key>spriteSourceSize</key>
			<string>{156, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{782, 459}, {156, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {126, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 86}</string>
			<key>spriteSourceSize</key>
			<string>{132, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{668, 367}, {132, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 80}</string>
			<key>spriteSourceSize</key>
			<string>{105, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 547}, {105, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 90}</string>
			<key>spriteSourceSize</key>
			<string>{84, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 367}, {84, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 86}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 459}, {105, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_left_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 86}</string>
			<key>spriteSourceSize</key>
			<string>{126, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{305, 367}, {126, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 260}, {131, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{157, 82}</string>
			<key>spriteSourceSize</key>
			<string>{157, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 547}, {157, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 78}</string>
			<key>spriteSourceSize</key>
			<string>{155, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{689, 547}, {155, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 73}</string>
			<key>spriteSourceSize</key>
			<string>{159, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 709}, {159, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 76}</string>
			<key>spriteSourceSize</key>
			<string>{156, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 631}, {156, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 82}</string>
			<key>spriteSourceSize</key>
			<string>{156, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{624, 459}, {156, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 86}</string>
			<key>spriteSourceSize</key>
			<string>{132, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{802, 367}, {132, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 80}</string>
			<key>spriteSourceSize</key>
			<string>{105, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{425, 547}, {105, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {82, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 90}</string>
			<key>spriteSourceSize</key>
			<string>{84, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 367}, {84, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 86}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{561, 367}, {105, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_attack_right_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 86}</string>
			<key>spriteSourceSize</key>
			<string>{126, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 367}, {126, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_defend_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {157, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{163, 75}</string>
			<key>spriteSourceSize</key>
			<string>{163, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 631}, {163, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_defend_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {157, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{163, 75}</string>
			<key>spriteSourceSize</key>
			<string>{163, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 631}, {163, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_defend_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {157, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{163, 75}</string>
			<key>spriteSourceSize</key>
			<string>{163, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 631}, {163, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {132, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 119}</string>
			<key>spriteSourceSize</key>
			<string>{132, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{821, 0}, {132, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 108}</string>
			<key>spriteSourceSize</key>
			<string>{132, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 141}, {132, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 108}</string>
			<key>spriteSourceSize</key>
			<string>{132, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{655, 141}, {132, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 108}</string>
			<key>spriteSourceSize</key>
			<string>{132, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{521, 141}, {132, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 102}</string>
			<key>spriteSourceSize</key>
			<string>{75, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{928, 141}, {75, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 108}</string>
			<key>spriteSourceSize</key>
			<string>{55, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 141}, {55, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {54, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 109}</string>
			<key>spriteSourceSize</key>
			<string>{56, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{955, 0}, {56, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 91}</string>
			<key>spriteSourceSize</key>
			<string>{56, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{933, 260}, {56, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_die_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 69}</string>
			<key>spriteSourceSize</key>
			<string>{52, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{936, 367}, {52, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 102}</string>
			<key>spriteSourceSize</key>
			<string>{130, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 260}, {130, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {154, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 73}</string>
			<key>spriteSourceSize</key>
			<string>{158, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{161, 709}, {158, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 76}</string>
			<key>spriteSourceSize</key>
			<string>{158, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 631}, {158, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 85}</string>
			<key>spriteSourceSize</key>
			<string>{158, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 459}, {158, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {127, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 88}</string>
			<key>spriteSourceSize</key>
			<string>{131, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 367}, {131, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 92}</string>
			<key>spriteSourceSize</key>
			<string>{105, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{826, 260}, {105, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_wait_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 97}</string>
			<key>spriteSourceSize</key>
			<string>{81, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 260}, {81, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {50, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{50, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 709}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 68}</string>
			<key>spriteSourceSize</key>
			<string>{144, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 709}, {144, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {151, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 69}</string>
			<key>spriteSourceSize</key>
			<string>{151, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{482, 709}, {151, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {157, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{163, 73}</string>
			<key>spriteSourceSize</key>
			<string>{163, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{813, 631}, {163, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 109}</string>
			<key>spriteSourceSize</key>
			<string>{130, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 141}, {130, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {167, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 84}</string>
			<key>spriteSourceSize</key>
			<string>{175, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{447, 459}, {175, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {176, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 86}</string>
			<key>spriteSourceSize</key>
			<string>{178, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 459}, {178, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 94}</string>
			<key>spriteSourceSize</key>
			<string>{186, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{638, 260}, {186, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 96}</string>
			<key>spriteSourceSize</key>
			<string>{155, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{481, 260}, {155, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {137, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{137, 106}</string>
			<key>spriteSourceSize</key>
			<string>{137, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{789, 141}, {137, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {111, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{111, 139}</string>
			<key>spriteSourceSize</key>
			<string>{111, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {111, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {66, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 34}</string>
			<key>spriteSourceSize</key>
			<string>{68, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{295, 784}, {68, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {154, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 121}</string>
			<key>spriteSourceSize</key>
			<string>{156, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{663, 0}, {156, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {186, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{196, 117}</string>
			<key>spriteSourceSize</key>
			<string>{196, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 141}, {196, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {246, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{246, 121}</string>
			<key>spriteSourceSize</key>
			<string>{246, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 0}, {246, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {284, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 128}</string>
			<key>spriteSourceSize</key>
			<string>{300, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{113, 0}, {300, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 34}</string>
			<key>spriteSourceSize</key>
			<string>{71, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 784}, {71, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 39}</string>
			<key>spriteSourceSize</key>
			<string>{76, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 784}, {76, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 44}</string>
			<key>spriteSourceSize</key>
			<string>{76, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 784}, {76, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {64, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 51}</string>
			<key>spriteSourceSize</key>
			<string>{64, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 784}, {64, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {59, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 76}</string>
			<key>spriteSourceSize</key>
			<string>{63, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 459}, {63, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {79, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 67}</string>
			<key>spriteSourceSize</key>
			<string>{79, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 709}, {79, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bat_walk_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {104, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 59}</string>
			<key>spriteSourceSize</key>
			<string>{108, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{862, 709}, {108, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>bat</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bat</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bat</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>