<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn_pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{466, 193}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_pause_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{466, 151}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 34}</string>
			<key>spriteSourceSize</key>
			<string>{77, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{605, 77}, {77, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_menu_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 34}</string>
			<key>spriteSourceSize</key>
			<string>{77, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{117, 175}, {77, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 34}</string>
			<key>spriteSourceSize</key>
			<string>{90, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{208, 160}, {90, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_btn_resume_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 34}</string>
			<key>spriteSourceSize</key>
			<string>{90, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{117, 140}, {90, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {219, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{219, 139}</string>
			<key>spriteSourceSize</key>
			<string>{219, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {219, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{306, 115}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{528, 0}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{605, 112}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{195, 195}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{306, 145}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 85}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 140}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 200}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 170}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 230}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hp_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 29}</string>
			<key>spriteSourceSize</key>
			<string>{116, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 85}, {116, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_bottle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{312, 175}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {53, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 58}</string>
			<key>spriteSourceSize</key>
			<string>{53, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{502, 285}, {53, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {55, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 65}</string>
			<key>spriteSourceSize</key>
			<string>{59, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 85}, {59, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 44}</string>
			<key>spriteSourceSize</key>
			<string>{85, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 115}, {85, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 38}</string>
			<key>spriteSourceSize</key>
			<string>{74, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 430}, {74, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 76}</string>
			<key>spriteSourceSize</key>
			<string>{55, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{645, 0}, {55, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 21}, {40, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 225}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 48}, {38, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{514, 115}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 63}, {40, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{722, 85}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_move_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 73}, {38, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 380}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{389, 175}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{348, 260}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{154, 310}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{117, 210}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{297, 0}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{701, 0}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 0}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{668, 170}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{510, 200}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{587, 227}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{271, 260}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 295}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 0}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 260}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 0}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step4_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{425, 260}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{451, 0}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{528, 30}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{591, 142}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ink_step5_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{76, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 345}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>game_etc.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>2차그림수정본스프라이트시트</string>
			<key>textureFileName</key>
			<string>game_etc</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>game_etc</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>