<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>opening_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 0}, {99, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 0}, {99, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 0}, {99, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{448, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 0}, {99, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{448, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 0}, {111, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 0}, {97, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 0}, {101, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 0}, {115, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 0}, {115, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{81, 0}, {123, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 0}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 0}, {121, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{448, 642}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>opening_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 0}, {117, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 320}</string>
			<key>spriteSourceSize</key>
			<string>{223, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 321}, {223, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>opening2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>2차그림수정본스프라이트시트</string>
			<key>textureFileName</key>
			<string>opening2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>opening2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>