<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wing_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {202, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{202, 73}</string>
			<key>spriteSourceSize</key>
			<string>{202, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 644}, {202, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 0}, {149, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{201, 112}</string>
			<key>spriteSourceSize</key>
			<string>{201, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 347}, {201, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 1}, {178, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{202, 97}</string>
			<key>spriteSourceSize</key>
			<string>{202, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{585, 461}, {202, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 68}, {185, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 183}</string>
			<key>spriteSourceSize</key>
			<string>{203, 183}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{607, 0}, {203, 183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_left_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 74}, {165, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{199, 194}</string>
			<key>spriteSourceSize</key>
			<string>{199, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 0}, {199, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{201, 112}</string>
			<key>spriteSourceSize</key>
			<string>{201, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{775, 196}, {201, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {178, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{202, 97}</string>
			<key>spriteSourceSize</key>
			<string>{202, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 461}, {202, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 68}, {185, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 183}</string>
			<key>spriteSourceSize</key>
			<string>{203, 183}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{402, 0}, {203, 183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_right_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 74}, {165, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{199, 194}</string>
			<key>spriteSourceSize</key>
			<string>{199, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {199, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_up_.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {214, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{214, 60}</string>
			<key>spriteSourceSize</key>
			<string>{214, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 788}, {214, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_up_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {216, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 45}</string>
			<key>spriteSourceSize</key>
			<string>{218, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 850}, {218, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_up_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 28}, {180, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 108}</string>
			<key>spriteSourceSize</key>
			<string>{186, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 347}, {186, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_up_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 44}, {86, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 149}</string>
			<key>spriteSourceSize</key>
			<string>{94, 149}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 196}, {94, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_up_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 44}, {86, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 149}</string>
			<key>spriteSourceSize</key>
			<string>{94, 149}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 196}, {94, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_attack_up_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 43}, {86, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 149}</string>
			<key>spriteSourceSize</key>
			<string>{94, 149}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 196}, {94, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_defend_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {216, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 60}</string>
			<key>spriteSourceSize</key>
			<string>{218, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{654, 788}, {218, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_defend_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {216, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 40}</string>
			<key>spriteSourceSize</key>
			<string>{218, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 907}, {218, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_defend_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {216, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 60}</string>
			<key>spriteSourceSize</key>
			<string>{218, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{434, 788}, {218, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {204, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{204, 75}</string>
			<key>spriteSourceSize</key>
			<string>{204, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 567}, {204, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 17}, {204, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{204, 75}</string>
			<key>spriteSourceSize</key>
			<string>{204, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 567}, {204, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {177, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{177, 75}</string>
			<key>spriteSourceSize</key>
			<string>{177, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 567}, {177, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {114, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 72}</string>
			<key>spriteSourceSize</key>
			<string>{116, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{409, 644}, {116, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {94, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 72}</string>
			<key>spriteSourceSize</key>
			<string>{100, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{827, 567}, {100, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 75}</string>
			<key>spriteSourceSize</key>
			<string>{72, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 347}, {72, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 68}</string>
			<key>spriteSourceSize</key>
			<string>{72, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{929, 567}, {72, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_die_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 60}</string>
			<key>spriteSourceSize</key>
			<string>{57, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{892, 719}, {57, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_wait_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {203, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 73}</string>
			<key>spriteSourceSize</key>
			<string>{203, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 644}, {203, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_wait_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {216, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 60}</string>
			<key>spriteSourceSize</key>
			<string>{216, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 788}, {216, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_wait_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {218, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{220, 40}</string>
			<key>spriteSourceSize</key>
			<string>{220, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 907}, {220, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_wait_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 24}, {182, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{188, 104}</string>
			<key>spriteSourceSize</key>
			<string>{188, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 461}, {188, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_wait_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {88, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 121}</string>
			<key>spriteSourceSize</key>
			<string>{94, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{679, 196}, {94, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 37}</string>
			<key>spriteSourceSize</key>
			<string>{66, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{955, 0}, {66, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {203, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{205, 55}</string>
			<key>spriteSourceSize</key>
			<string>{205, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 850}, {205, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {214, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{214, 41}</string>
			<key>spriteSourceSize</key>
			<string>{214, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 907}, {214, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 24}, {183, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 104}</string>
			<key>spriteSourceSize</key>
			<string>{189, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 461}, {189, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 26}, {86, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 130}</string>
			<key>spriteSourceSize</key>
			<string>{92, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{585, 196}, {92, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 22}, {191, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{199, 105}</string>
			<key>spriteSourceSize</key>
			<string>{199, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{653, 347}, {199, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {227, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{231, 42}</string>
			<key>spriteSourceSize</key>
			<string>{231, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{604, 850}, {231, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {232, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{234, 64}</string>
			<key>spriteSourceSize</key>
			<string>{234, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 644}, {234, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {232, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{234, 75}</string>
			<key>spriteSourceSize</key>
			<string>{234, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 567}, {234, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {248, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{252, 72}</string>
			<key>spriteSourceSize</key>
			<string>{252, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{527, 644}, {252, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {276, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{282, 61}</string>
			<key>spriteSourceSize</key>
			<string>{282, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{608, 719}, {282, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 39}</string>
			<key>spriteSourceSize</key>
			<string>{77, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{837, 850}, {77, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {248, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 111}</string>
			<key>spriteSourceSize</key>
			<string>{260, 111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 347}, {260, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {131, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{141, 157}</string>
			<key>spriteSourceSize</key>
			<string>{141, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{812, 0}, {141, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {283, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 135}</string>
			<key>spriteSourceSize</key>
			<string>{295, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 196}, {295, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {412, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{418, 67}</string>
			<key>spriteSourceSize</key>
			<string>{418, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 719}, {418, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {90, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 31}</string>
			<key>spriteSourceSize</key>
			<string>{92, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{812, 159}, {92, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {83, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 38}</string>
			<key>spriteSourceSize</key>
			<string>{87, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{916, 850}, {87, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {46, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{928, 347}, {50, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {118, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 56}</string>
			<key>spriteSourceSize</key>
			<string>{122, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{874, 788}, {122, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {169, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 46}</string>
			<key>spriteSourceSize</key>
			<string>{175, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207, 850}, {175, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {182, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 64}</string>
			<key>spriteSourceSize</key>
			<string>{186, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{420, 719}, {186, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_walk_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {189, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 79}</string>
			<key>spriteSourceSize</key>
			<string>{191, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{789, 461}, {191, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>wing</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wing</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wing</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>